SECRET_KEY=hier-einen-langen-zufaelligen-string-eintragen

ADMIN_EMAIL=juergen.schlager@gmx.net

DB_HOST=localhost
DB_NAME=turnierverwaltung
DB_USER=root
DB_PASS=

MAIL_HOST=mail.gmx.net
MAIL_PORT=587
MAIL_USERNAME=juergen.schlager@gmx.net
MAIL_PASSWORD=dein-gmx-passwort
MAIL_FROM=juergen.schlager@gmx.net
MAIL_TLS=true

APP_URL=http://localhost:8080
